/* CSS declarations go here */

body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);  
  background-attachment: fixed;
  

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.wall {
  position: relative;
  top: 0px;
  left:0px;
  min-width: 100vw;
  min-height: 100vh;
}
.Wall-area {
  min-width: 100%;
  min-height: 100%;
}

.addnote-button {
  position: fixed;
  bottom: 20px;
  left: 10px;
}
.deletetaskbutton{
  background: none;
  border-color: #eeeeee;
  border-style: none;
  font-size: 1.4rem;
}
.todolisttaskscontainer span {
  position: relative;
  top: -2px;
}
.todolisttaskscontainer li, .todolisttaskscontainer input {
 font-family: 'Roboto Slab', sans-serif;
 font-size: 0.9rem;
}
.textEdit{
  background-color: #fff;

}

.note-holder {
  position: relative;
  top: 100px;
  left: 300px;
}
.notecontainer, .todocontainer {
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 4px;
  min-width: 13rem;
  background-color: white;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0px 2px 3px #666666;
}
.notecontainer p {
  white-space: pre;
  font-family: 'Roboto Slab', sans-serif;
  font-weight: 400;
  color: #222;
  font-size: 0.9rem;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  border-radius: 2px;
  margin-bottom: 0px;
  margin-top: 5px;
}

.todocontainer p {
  font-family: sans-serif;
  font-size: 1.3rem;
  margin: 0;
  margin-left: 20%;
  margin-top: -1rem;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #555;
}
.todocontainer .todotopicform {
  margin: 0;
  margin-left: 20%;
  margin-top: -1.3rem;
}

.todotopicform input {

  font-family: 'Roboto';
  font-weight: 700;
  text-transform: uppercase;
  color: #444;
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 0;
  font-size: 1.3rem;
}
.container {
  min-width: 100%;
  min-height: 100%;
  background: rgba(255,255,255,0.03);
}


header {
  display: flex;
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
  box-shadow: 0px 2px 7px #888888; 
}

#login-buttons {
  margin-left: 1rem;
  margin-right: 2rem;
  padding: 5px;
  display: block;
}
#login-buttons a{
  text-decoration: none;
}

#login-buttons .login-link-and-dropdown-list {
  font-size: 1rem;
}
#userlogintext {
  margin-top: 2px;
  margin-left: 10vw;
}

.new-note, .new-todo {
  background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
  border: none;
  border-radius: 30px;
  padding-left: 12px;
  padding-right: 12px;
  color: white;
  height: 100%;
}
.new-todo {
  margin-left: 20px;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
h4 {
  display:block;
  float: right;
  margin-left: 3px;
  margin-right: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
  margin: 10px;
}

.new-task input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-task input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}

.toggle-private {
  margin-left: 5px;
}

.noteeditorcontainer {
  display: flex;
  flex-direction: column-reverse;
}

.deletenotebutton {
  max-width: 15%;
  background: none;
  border: none;
  font-size: 1rem;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

.themedropdowncontainer {
  position: absolute;
  top: 20px;
  right: 10vw;
  display: inline-block;
  
}

#themeDropdown {
  display:none;
}
.dropdown-content {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    background-image: grey;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.themeop {
 width: 100px;
 height: 20px;
}
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-task input {
    padding-bottom: 5px;
  }
}
